{{define "subject"}}Welcome to Halendar!{{end}}

{{define "plainBody"}}
Hi!

An account was just created for you on Halendar.

To activate it, click the following link:

(link not available) {"token": "{{.activationToken}}"}  {"userID": "{{.userID}}"}

Thanks,
The Halendar Team
{{end}}

{{define "htmlBody"}}
<!doctype html>
<html>

<head>
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
  <p>Hi {{.Name}}!</p>
  <br>
  <p>An account was just created for you on Halendar.</p>
  <br>
  <p>To activate it, click the following link:</p>
  <br>
  <p>(link not available) {"token": "{{.activationToken}}"} {"userID": "{{.userID}}"}</p>
  <br>
  <p>Thanks,</p>
  <p>The Halendar Team</p>
</body>

</html>
{{end}}
